.animate-text {
    display: inline-block;
  }
  
  .animate-text span {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s, transform 0.5s;
  }
  
  .text-in {
    opacity: 1;
    transform: translateY(0);
  }
  
  .text-out {
    opacity: 0;
    transform: translateY(-10px);
  }